@keyframes gradient-move-to-right {
    0% {
      left: 0%;
      opacity: 0%;
    }
    20%{
        left: 20%;
        opacity: 100%;
    }
    80% {
      left: calc(100% - 80px);
      opacity: 100%;
    }
    100% {
      left: calc(100% - 80px);
      opacity: 0;
    }
}

@keyframes gradient-move-to-left {
    0% {
      right: 0;
      opacity: 0%;
    }
    20%{
        right: 20%;
        opacity: 100%;
    }
    80% {
      right: calc(100% - 80px);
      opacity: 100%;
    }
    100% {
      right: calc(100% - 80px);
      opacity: 0;
    }

}

@keyframes gradient-move-to-bottom {
    0% {
      top: 0;
      opacity: 0;
    }
    20%{
        top: 20%;
        opacity: 100%;
    }
    80%{
        top: calc(100% - 80px);
        opacity: 100%;
    }
    100% {
      top: calc(100% - 80px);
      opacity: 0;
    }
}

@keyframes gradient-move-to-top {
    0% {
      bottom: 0;
      opacity: 0;
    }
    20%{
        bottom: 20%;
        opacity: 100%;
    }
    80%{
        bottom: calc(100% - 80px);
        opacity: 100%;
    }
    100% {
      bottom: calc(100% - 80px);
        opacity: 0;
    }
}

@mixin line {

    .line{
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        position: absolute;
        top: 0;
        left: 0px;
        width: 80px;
        height: 1px;
        z-index: 1;
        //animation: gradient-move-to-right 5s linear infinite;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: gradient-move-to-right;

        animation-play-state: running;

        animation-play-state: paused;

        display: none;

        &:nth-child(odd){
            background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.7));
            top: auto;
            bottom: 0;
            right: 0px;
            left: auto;
            animation-name: gradient-move-to-left;
        }
    }

    &:hover{
        .line{
            animation-play-state: running;
            display: block;
        }
    }
  }

.section{
    margin: var(--section-margin) 0;

    @media screen and (max-width: $lg-screen){
        margin: var(--section-margin) 10px;
    }

    @media screen and (max-width: $sm-screen){
        margin: var(--section-margin) 5px;
    }

    &.hidden{
        display: none;
    }

    .grid-container{
        max-width: 1200px;
        width: 100%;
        margin:0 auto;
        
        position: relative;
    }

    .content{
        border:1px solid var(--grid-color);
        padding: var(--section-inner-padding);
        position: relative;

        &::before{
            content: "+";
            position: absolute;
            top: -29px;
            left: -15px;
            font-size: 3rem;
            font-weight: 100;
            transition: transform 0.3s ease-in-out, left 1s ease-in-out, top 1s ease-in-out;
            //animation: moveAround1 4s linear infinite;
        }

        &::after{
            content: "+";
            position: absolute;
            bottom: -20px;
            right: -15px;
            font-size: 3rem;
            font-weight: 100;
            transition: transform 0.3s ease-in-out, right 1s ease-in-out, bottom 1s ease-in-out;
            //animation: moveAround2 4s linear infinite;
        }

        // &:hover{
        //     &::before{
        //         left: calc(100% - 15px);
        //     }
        //     &::after{
        //         right: calc(100% - 15px);
        //     }
        // }

    }

    .two-row{
        display: grid;
        grid-template-columns: 1fr 3fr;

        padding: 0;

        @media screen and (max-width: $md-screen){
            grid-template-columns: 1fr;
        }

        .content-header{
            border-right: 1px solid var(--grid-color);

            .title{
                
                display: flex;
                justify-content: center;
                font-size: 2.3rem;
                font-weight: 500;
                color: var(--color-primary);
                padding: var(--section-inner-padding);
                border-bottom: 1px solid var(--grid-color);

                @media screen and (max-width: $md-screen){
                    font-size: 2.1rem;
                }

                @media screen and (max-width: $sm-screen){
                    font-size: 1.8rem;
                }

            }
        }

        .content-background{

            ul li,
            p{
                line-height: 1.5;
                font-size: var(--body-font);
            }

            ul{
                list-style-type: disc;
                margin-left: 20px;

                li{
                    margin: 7px 0;

                    a{

                        display: inline-flex;
                        align-items: center;

                        svg{
                            color: var(--color-primary);
                            display: inline-block;
                            height: 18px;
                            width: 18px;

                            
                            transition: transform 0.3s ease-in-out;
                        }

                        transition: color 0.3s ease-in-out;

                        &:hover{
                            color: var(--color-primary);

                            svg{
                                transform: translate(5px, -5px);
                            }
                        }
                    }
                }
            }

            .background-section{
                
                padding: var(--section-inner-padding);
                border-bottom: 1px solid var(--grid-color);

                .background-section-intro{
                    color: var(--color-primary);
                    h3{
                        font-size: 1.8rem;
                        margin-bottom: 20px;
                        font-weight: 400;

                        @media screen and (max-width: $sm-screen){
                            font-size: 1.5rem;
                        }

                        @media screen and (max-width: $sm-screen){
                            font-size: 1.3rem;
                        }

                    }
                }
            }

            a{
                color: var(--color-primary);
                text-decoration: none;

                &:first-child{
                    color: #52a8ff;
                }

                &:nth-child(2){
                    color: #bf7af0;
                }

                &:nth-child(3){
                    color: #ff849a;
                }
            }
        }
    }

    .six-row-with-heading{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0;

        @media screen and (max-width: $md-screen){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media screen and (max-width: $sm-screen){
            grid-template-columns: 1fr 1fr 1fr;
        }

        .content-item{
            
            padding: 50px 0;

            font-weight: 500;
            font-size: 1.3rem;

            text-align: center;
            border: 1px solid var(--grid-color);

            cursor: default;

            transition: background-color 0.3s ease-in-out;

            @media screen and (max-width: $md-screen){
                font-size: 1rem;
            }

            &:hover{
                @include gradient-background-1;
                //background-color: #bf7af0;

                span{
                    @include highlight-1;
                }
            }
        }

        .content-header{
            
            grid-column: 1/3;
            padding: 40px 0;

            @media screen and (max-width: $md-screen){
                grid-column: 1/5;
            }

            @media screen and (max-width: $sm-screen){
                grid-column: 1/4;
            }

            h2{
                font-size: 2rem;
                font-weight: 500;
                @include highlight-1;

                @media screen and (max-width: $md-screen){
                    font-size: 1.8rem;
                }

                @media screen and (max-width: $sm-screen){
                    font-size: 1.5rem;
                }
            }

            &:hover{
                background-color: inherit;
                span{
                    color: inherit;
                }
            }
        }
    }

    .header-and-content{
        padding: 0px;

        .content-header{
            border-bottom: 1px solid var(--grid-color);

            padding-top: var(--section-inner-padding);
            padding-bottom: var(--section-inner-padding);

            text-align: center;

            @media screen and (max-width: $md-screen){
                padding-left: 10px;
                padding-right: 10px;
            }

            .title{
                font-size: 2.3rem;
                font-weight: 500;
                color: var(--color-primary);

                @media screen and (max-width: $md-screen){
                    font-size: 2rem;
                }

                @media screen and (max-width: $sm-screen){
                    font-size: 1.8rem;
                }
            }

            p{
                font-size: var(--body-font);
                line-height: 1.5;
                margin-top: 20px;
            }
        }
    }
}

.highlight-color-one{
    color: #d1b7ef;
}

.highlight-color-two{
    color: #ff849a !important;
}

.about{
    margin-bottom: 0;
}

.description-holder{
    position: fixed;
    pointer-events: none;
    
    background-color: var(--color-bg);
    font-size: .9rem;
    line-height: 1.4;
    border: 1px solid var(--grid-color);
    padding: 20px;
    width: 300px;
    z-index: 88;
    visibility: hidden;

    transition: height 1s ease-in-out, width 1s ease-in-out;
    
    display: none;

    @media (hover: hover) {
        display: block;
    }

}

.skills{
    margin-top: 20px;

    .description{
        display: none;
    }
}

.for-contact{
    .content-header{
        .title{
            padding:var(--section-inner-padding) 30px !important;
        }
    }

    .form-holder{
        background-color: var(--color-tertiary);

        @media screen and (max-width: $sm-screen){
            padding-top: 35px !important;
        }

    }

    .social{
        padding: 40px var(--section-inner-padding) !important;
    }

    .social-links{
        
        ul{
            
            margin-left: 0 !important;
            padding: 0;

            display: flex;

            li{
                list-style: none;

                a{
                    margin-left: 10px;
                    svg{
                        height: 22px !important;
                        width: 22px !important;
                        
                        transform: none !important;
                    }
                }

                &:first-child{
                    a{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .contact-form-holder{
        
        max-width: 600px;
        margin:var(--section-inner-padding) 0;


        @media screen and (max-width: $sm-screen){
            padding-top: 20px;
        }

        .form-area{
            margin-bottom: 20px;

            label{
                display: block;
                font-size: 1.2rem;
                margin-bottom: 10px;

                @media screen and (max-width: $md-screen){
                    font-size: 1.1rem;
                }
            }

            .message,
            .input-text{
                background-color: var(--color-bg);
                width: 100%;
                margin:10px 0;
                border-radius: 6px;
                font-size: 1.2rem;
                padding: 14px;
                color: var(--color-primary);

                border: none;
                outline: none;

                box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .145), 0px 1px 2px rgba(0, 0, 0, .16);

                @media screen and (max-width: $md-screen){
                    font-size: 1.1rem;
                }

                &:focus{
                    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .31), 0px 1px 2px rgba(0, 0, 0, .46);
                }
            }

            .message{
                resize: none;
                min-height: 100px;
            }
        }
    }

}

.show-line{
    position: relative;

    @include line;
}

.glow-line{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 1px;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        z-index: 1;
        animation: gradient-move-to-right 5s linear infinite;
    }
}

.glow-line-horizontal{

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 80px;
        background: linear-gradient(transparent, rgba(255, 255, 255, 0.7));
        z-index: 1;
        animation: gradient-move-to-bottom 5s linear infinite;
    }

    &:nth-child(even){
        &::before{
            left: 100%;
            bottom: 0;
            top: auto;
            background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.7));
            animation: gradient-move-to-top 5s linear infinite;
        }
    }

    &.center{
        &::before{
            left: 50%;
            transform: translateX(-50%);
            animation-duration: 30s;
        }
    }

}

/* Animations */

.word {
    display: inline-block;
    overflow: hidden;
    margin-right: 0.3em;
}

.inner-word {
    display: inline-block;
    transform: translateY(150%) rotate(10deg);
    transition: transform 1.125s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inner-word.animate {
    transform: translateY(0) rotate(0);
}

.fade-in-up{
    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
    transform: translateY(2rem);
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}
  


/* ANimation */

// @keyframes moveAround1 {
//     0% {
//       top: -29px;
//       left: -15px;
//     }
//     25% {
//         top: -29px;
//         left: calc(100% - 15px);
//     }
//     50% {
//         top: calc(100% - 29px);
//         left: calc(100% - 15px);
//     }
//     75% {
//         top: calc(100% - 29px);
//         left: -15px;
//     }
//     100% {
//         top: -29px;
//         left: -15px;
//     }
// }

// @keyframes moveAround2 {
//     0% {
//         bottom: -20px;
//         right: -15px;
//     }
//     25% {
//         bottom: -20px;
//         right: calc(100% - 15px);
//     }
//     50% {
//         bottom: calc(100% - 20px);
//         right: calc(100% - 15px);
//     }
//     75% {
//         bottom: calc(100% - 20px);
//         right: -15px;
//     }
//     100% {
//         bottom: -20px;
//         right: -15px;
//     }
// }
